<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463233391224-vkp8uqpatob0jds5v5sa2spk2c8jsodr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463233391224-vkp8uqpatob0jds5v5sa2spk2c8jsodr</string>
	<key>API_KEY</key>
	<string>AIzaSyAoYCpmfnHvig0eGhrI2l1kv7t2i3WZgAk</string>
	<key>GCM_SENDER_ID</key>
	<string>463233391224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testNew</string>
	<key>PROJECT_ID</key>
	<string>ab-license</string>
	<key>STORAGE_BUCKET</key>
	<string>ab-license.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463233391224:ios:0a0fde7d82c644024beb8d</string>
</dict>
</plist>